body {
  color: white;
}

a {
  text-decoration: none;
}

.container-fluid {
  padding: 3% 15%;
}

/* NAVIGATION */
.navbar {
  background-color: transparent;
  backdrop-filter: blur(10px);
  /* z-index: 100; */
}

.nav-item {
  padding: 0 18px;
}

.nav-item a{
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35px;
 }
.navbar-nav .na:hover {
  border-bottom: 3px solid #B5B5C3;
}
.active {
  border-bottom: 3px solid white;}

/* MAIN */
.page {
  margin-top: 10rem;
}



.xplor-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 274px;
  height: 274px;
  border-radius: 100%;
  background-color: white;
  color: black;
  transition: 0.5s;
  margin-right: 5vw;
}

.xplor-btn:hover {
  box-shadow: 0 0 0 50px #ebf2fa;
  transition: 0.5s;
}

.xplor-btn p {
  font-size: 32px;
  font-family: "Bellefair", serif;
}
